[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
ipykernel = "*"
jupyter = "*"
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
networkx = "*"
greycdata-bgauzere = {path = "/home/bgauzere/dev/greycdata/dist/greycdata_bgauzere-0.0.8-py3-none-any.whl"}
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.10"
